html{
	height:100%;
	background:-webkit-radial-gradient(circle,#fff,#ccc);
	background:-o-radial-gradient(circle,#fff,#ccc);
	background:-moz-radial-gradient(circle,#fff,#ccc);
	background:radial-gradient(circle,#fff,#ccc);
}
#container{
	height:400px;
	width:550px;
	background-color:#9DD2EA;
	margin:100px auto;
	padding:20px;
	border-radius:10px;
	box-shadow:0px 4px 0px #009de4;
	-moz-box-shadow:0px 4px 0px #009de4;
	-webkit-box-shadow:0px 4px 0px #009de4;
	position:relative;
}

#score{
	background-color:#F1FF92;
	color:#888E5F;
	padding:11px;
	position:absolute;
	left:500px;
	box-shadow:0px 4px #9da853;
}

#correct{
	position:absolute;
	background-color:#42e252;
	color:white;
	padding:11px;
	left:250px;
	display: none;
}
#wrong{
	position:absolute;
	background-color:#de401a;
	color:white;
	padding:11px;
	left:250px;
	display:none;
}

#question{
	width:450px;
	height:150px;
	margin:50px auto 10px auto;
	background-color:#9DA0EA;
	box-shadow:0px 4px #535aa8;
	font-size:100px;
	text-align:center;
	font-family:cursive,sans-serif;
	color:black;
	line-height: 150px
}

#instruction{
	width:450px;
	height:50px;
	background-color:#B481D9;
	margin:10px auto;
	text-align:center;
	line-height:50px;
	box-shadow:0px 4px #8153a8;
}

#choices{
	width:450px;
	height:100px;
	margin:5px auto;
}

.box{
	width:85px;
	height:85px;
	background-color:white;
	float:left;
	margin-right: 36px;
	border-radius:3px;
	cursor:pointer;
	box-shadow:0px 4px rgba(0,0,0,0.2);
	text-align: center;
	line-height: 85px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	position: relative;
}

.box:hover, #startrestart:hover{
	background-color: #9C89F6;
	color:white;
	box-shadow: 0px 4px #6B54D3;
}

.box:active, #startrestart:active{
	box-shadow:0 0 #6B54D3;
	top:4px;
}

#box4{
	margin-right:0px;
}

#startrestart{
	width:78px;
	background-color:rgba(255,255,255,0.5);
	margin:0 auto;
	padding:10px;
	border-radius:3px;
	cursor:pointer;
	box-shadow:0px 4px rgba(0,0,0,0.2);
	text-align: center;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	position: relative;
}

#timeremaining{
	width:152px;
	padding:10px;
	position:absolute;
	top:395px;
	left:400px;
	background-color:rgba(181,235,36,0.78);
	border-radius:3px;
	box-shadow:0px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow:0px 4px rgba(0,0,0,0.2);
	-moz-box-shadow:0px 4px rgba(0,0,0,0.2);
	/*visibility: hidden;*/
	display: none;
}

#gameOver{
	width:500px;
	height:200px;
	background:linear-gradient(#F3CA6B,#F3706C);
	background:-webkit-linear-gradient(#F3CA6B,#F3706C);
	background:-o-linear-gradient(#F3CA6B,#F3706C);
	background:-moz-linear-gradient(#F3CA6B,#F3706C);
	color:white;
	font-size:2.5em;
	text-align: center;
	text-transform: uppercase;
	position:absolute;
	top:100px;
	left:45px;
	z-index: 2;
	display: none;

}